{% extends "layout.html" %} {% block content %}
<div class="jumbotron">
    <div class="blog-post text-center display-4">
        <p class="lead my-3">
            Example of creating simple Blog site With Flask framework
        </p>
        <a href="https://www.youtube.com/watch?v=uVNfQDohYNI&list=PL-osiE80TeTs4UjLw5MM6OjgkjFeUxCYH&index=12" target="_blank">YouTube lessons course "Python Flask Tutorial: Full-Featured Web App"</a> by <strong>Corey Schafer</strong>
    </div>
</div>
{% endblock content %}